# Binaries
**/bin/
bin-int/
Intermediates/

# Dymatic files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Dymatic/vendor/VulkanSDK
DymaticEditor/assets/cache
*/__pycache__