[submodule "Dymatic/vendor/Box2D"]
	path = Dymatic/vendor/Box2D
	url = https://github.com/BenC25/box2d
[submodule "Dymatic/vendor/yaml-cpp"]
	path = Dymatic/vendor/yaml-cpp
	url = https://github.com/BenC25/yaml-cpp
[submodule "Dymatic/vendor/GLFW"]
	path = Dymatic/vendor/GLFW
	url = https://github.com/BenC25/glfw
[submodule "Dymatic/vendor/spdlog"]
	path = Dymatic/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Dymatic/vendor/ImGuizmo"]
	path = Dymatic/vendor/ImGuizmo
	url = https://github.com/BenC25/ImGuizmo.git
[submodule "Dymatic/vendor/glm"]
	path = Dymatic/vendor/glm
	url = https://github.com/BenC25/glm.git
[submodule "Dymatic/vendor/imgui"]
	path = Dymatic/vendor/imgui
	url = https://github.com/BenC25/imgui.git
	branch = docking
[submodule "Dymatic/vendor/msdf-atlas-gen"]
	path = Dymatic/vendor/msdf-atlas-gen
	url = https://github.com/BenC25/msdf-atlas-gen.git
