#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

MAINICON ICON "../Resources/Branding/Logo/DymaticLogo.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 23, 1, 0, 0
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Dymatic Technologies"
VALUE "FileDescription", "Dymatic Engine Crash Manager"
VALUE "LegalCopyright", "© 2023 Dymatic Technologies"
VALUE "ProductName", "Dymatic Crash Manager"
VALUE "ProductVersion", "DymaticCrashManager-23.1.0-Development"
VALUE "FileVersion", "23, 1, 0, 0"
VALUE "LegalTrademarks1", "Dymatic Engine®, All Rights Reserved"
VALUE "OriginalFilename", "DymaticEditor.exe"
VALUE "fileos", "Microsoft Windows 11"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1252
END
END