#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#include "Version.h"
#include "Dymatic/Core/Version.h"

MAINICON ICON "../Resources/Branding/Logo/DymaticLogo.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION DY_APPLICATION_VERSION_MAJOR, DY_APPLICATION_VERSION_MINOR, DY_APPLICATION_VERSION_PATCH, DY_APPLICATION_VERSION_BUILD
FILEFLAGSMASK 0x3FL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Dymatic Technologies"
VALUE "FileDescription", DY_APPLICATION_NAME
VALUE "LegalCopyright", DY_VERSION_COPYRIGHT " " DY_APPLICATION_COPYRIGHT
VALUE "ProductName", DY_APPLICATION_NAME
VALUE "ProductVersion", "DymaticRuntime-" DY_VERSION_STRING "-" DY_VERSION_SUFFIX
VALUE "FileVersion", DY_TO_STRING(DY_APPLICATION_VERSION_MAJOR) ", " DY_TO_STRING(DY_APPLICATION_VERSION_MINOR) ", " DY_TO_STRING(DY_APPLICATION_VERSION_PATCH) ", " DY_TO_STRING(DY_APPLICATION_VERSION_BUILD)
VALUE "LegalTrademarks1", DY_VERSION_TRADEMARK " " DY_APPLICATION_TRADEMARK
VALUE "OriginalFilename", DY_APPLICATION_NAME
VALUE "fileos", "Microsoft Windows 11"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x409, 1252
END
END